*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)),url(/static/images/classroom.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    background: linear-gradient(rgb(8, 0, 0),rgba(0,0,0,0));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar_container{
    width: 100%;
    margin: auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    z-index: 1;
    max-width: 1900px;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor: pointer;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar_container ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar_links{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar_linksA{
    text-decoration: none;
    color: #ddb938;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #62DCF6;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}
.spele1{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.spele1 a{
    justify-content: center;
}
.spele1 h1{
    font-size: 70px;
    margin-top: 80px;
}
.spele1 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
.spele1 img{
    width: 10%;
    height: 10%;
    align-items: center;
}
.spele1 button{
    width: 200px;
    height: 75px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: x-large;
    /* border: 2px solid #62DCF6; */
    background: #009bbe;
    color:  #ffffff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}