/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

} */

*{
    -webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		margin:0;
		padding:0;
        font-family: sans-serif;
}
.body{
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: block;
}

.banner{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0, 0, 0, 0.75)),url(/static/images/classroom.jpg);
    background-size: cover;
    background-position: center;
}
.navbar{
    background: linear-gradient(rgb(8, 0, 0),rgba(0,0,0,0));
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar_container{
    width: 100%;
    margin: auto;
    padding: 0 50px;
    display: flex;
    align-items: center;
    z-index: 1;
    max-width: 1900px;
    justify-content: space-between;
}
.logo{
    width: 170px;
    cursor: pointer;
}
.navbar_menu{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar_container ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar_links{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.navbar_linksA{
    text-decoration: none;
    color: #ddb938;
    text-transform: uppercase;
}
.navbar ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #62DCF6;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top:50%;
    transform: translateY(-55%);
    text-align: center;
    color: #fff;
    height: 45em;
    display: block;
    overflow: hidden;
}

/* Additionnal styles */
.video-slider {
    width: 100%;
    height: 20em;
    background: #444;
    /* transform: translateY(-50%); */
    text-align: center;
    position: relative;
    overflow: hidden;
}
.slide {
    position: absolute;
    top: 30%;
    left: 100%;
    height: 50%;
    width: 50%;
    text-align: center;
    margin: 0 25%;
    overflow: hidden;
}
.slide:first-child{
    left: 0;
}
.video{
    height: 100%;
    width: 100%;
    border:0;
}
.slide-arrow{
    position: absolute;
    top: 12%;
    left: 0;
    height: 45%;
    width: 15%;
    cursor: pointer;
    opacity: .5;
}
.slide-arrow:hover{
    opacity: 1;
}
.slide-arrow:after{
    content: "\003c";
    text-align: center;
    display: block;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 3em;
}
.slide-arrow.right:after{
    content: "\003e";
}
.slide-arrow.right{
    left: auto;
    right: 0;
}