<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
        <title>SOLS</title>
        <link href="static/css/alfabetsPage.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <!-- Navigational Bar Section -->
        <div class="banner">
            <nav class="navbar">
                <div class="navbar_container">
                    <a href="/"><img src="static/images/logo.png" class="logo"></a>
                    <ul class="navbar_menu">
                        <li><a href="/" class="navbar_links" id="home-page">Mājas</a></li>
                        <li><a href="/alfabets" class="navbar_linksA" id="abc-page">Alfabēts</a></li>
                        <li><a href="/speles" class="navbar_links" id="game-page">Spēles</a></li>
                        <li><a href="/video" class="navbar_links" id="video-link">Video</a></li>
                        <li><a href="/par" class="navbar_links" id="about-link">Par</a></li>
                    </ul>
                </nav>   
            </div>
        </div>

        
        <div class="content">
            <div>
                <a class="tooltip">
                    <button>A</button>
                    <span><img src="static/Burti/A.png"><br><button onclick="myFunction('a')">🔊</button>
                    <h3>Apelsīns</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                </a>
                <a class="tooltip">
                    <button>Ā</button>
                    <span><img src="static/Burti/Ā.png"><br><button onclick="myFunction('ā')">🔊</button>
                    
                    <h3>Āmurs</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                </a>
                 <a class="tooltip">
                    <button>B</button>
                    <span><img src="static/Burti/B.png"><br><button onclick="myFunction('b')">🔊</button>
                    
                    <h3>Bumba</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>C</button>
                    <span><img src="static/Burti/C.png"><br><button onclick="myFunction('c')">🔊</button>
                    
                    <h3>Citrons</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>Č</button>
                    <span><img src="static/Burti/Č.png"><br><button onclick="myFunction('č')">🔊</button>
                    
                    <h3>Čiekurs</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>D</button>
                    <span><img src="static/Burti/D.png"><br><button onclick="myFunction('d')">🔊</button>
                    
                    <h3>Draugi</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>E</button>
                    <span><img src="static/Burti/E.png"><br><button onclick="myFunction('e')">🔊</button>
                    
                    <h3>Eņģelis</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>Ē</button>
                    <span><img src="static/Burti/Ē.png"><br><button onclick="myFunction('ē')">🔊</button>
                    
                    <h3>Ērglis</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip2">
                    <button>F</button>
                    <span><img src="static/Burti/F.png"><br><button onclick="myFunction('f')">🔊</button>
                    
                    <h3>Fotogrāfija</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>G</button>
                    <span><img src="static/Burti/G.png"><br><button onclick="myFunction('g')">🔊</button>
                    
                    <h3>Grāmata</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>Ģ</button>
                    <span><img src="static/Burti/Ģ.png"><br><button onclick="myFunction('ģ')">🔊</button>
                    
                    <h3>Ģimene</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>H</button>
                    <span><img src="static/Burti/H.png"><br><button onclick="myFunction('h')">🔊</button>
                    
                    <h3>Haizivs</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>I</button>
                    <span><img src="static/Burti/I.png"><br><button onclick="myFunction('i')">🔊</button>
                    
                    <h3>Internets</h3>
                    
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                <a class="tooltip">
                    <button>Ī</button>
                    <span><img src="static/Burti/Ī.png"><br><button onclick="myFunction('ī')">🔊</button>
                    <h3>Īlens</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>J</button>
                    <span><img src="static/Burti/J.png"><br><button onclick="myFunction('j')">🔊</button>
                    <h3>Joks</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>K</button>
                    <span><img src="static/Burti/K.png"><br><button onclick="myFunction('k')">🔊</button>
                    <h3>Klauns</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>Ķ</button>
                    <span><img src="static/Burti/Ķ.png"><br><button onclick="myFunction('ķ')">🔊</button>
                    <h3>Ķemme</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip2">
                    <button>L</button>
                    <span><img src="static/Burti/L.png"><br><button onclick="myFunction('l')">🔊</button>
                    <h3>Lāpsta</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>Ļ</button>
                    <span><img src="static/Burti/Ļ.png"><br><button onclick="myFunction('ļ')">🔊</button>
                    <h3>Ļipa</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>M</button>
                    <span><img src="static/Burti/M.png"><br><button onclick="myFunction('m')">🔊</button>
                    <h3>Māja</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>N</button>
                    <span><img src="static/Burti/N.png"><br><button onclick="myFunction('n')">🔊</button>
                    <h3>Nāriņa</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>Ņ</button>
                    <span><img src="static/Burti/Ņ.png"><br><button onclick="myFunction('ņ')">🔊</button>
                    <h3>Ņaudēšana</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>O</button>
                    <span><img src="static/Burti/O.png"><br><button onclick="myFunction('o')">🔊</button>
                    <h3>Ofiss</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                    <button>P</button>
                    <span><img src="static/Burti/P.png"><br><button onclick="myFunction('p')">🔊</button>
                    <h3>Panda</h3>
                    <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                    </span>
                 </a>
                 <a class="tooltip">
                  <button>R</button>
                  <span><img src="static/Burti/R.png"><br><button onclick="myFunction('r')">🔊</button>
                  <h3>Redīsi</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip">
                  <button>S</button>
                  <span><img src="static/Burti/S.png"><br><button onclick="myFunction('s')">🔊</button>
                  <h3>Slieka</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip2">
                  <button>Š</button>
                  <span><img src="static/Burti/Š.png"><br><button onclick="myFunction('š')">🔊</button>
                  <h3>Šorti</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip">
                  <button>T</button>
                  <span><img src="static/Burti/T.png"><br><button onclick="myFunction('t')">🔊</button>
                  <h3>Taurenis</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip">
                  <button>U</button>
                  <span><img src="static/Burti/U.png"><br><button onclick="myFunction('u')">🔊</button>
                  <h3>Upe</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip">
                  <button>Ū</button>
                  <span><img src="static/Burti/Ū.png"><br><button onclick="myFunction('ū')">🔊</button>
                  <h3>Ūdens</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip">
                  <button>V</button>
                  <span><img src="static/Burti/V.png"><br><button onclick="myFunction('v')">🔊</button>
                  <h3>Varavīksne</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip">
                  <button>Z</button>
                  <span><img src="static/Burti/Z.png"><br><button onclick="myFunction('z')">🔊</button>
                  <h3>Zelts</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
               <a class="tooltip">
                  <button>Ž</button>
                  <span><img src="static/Burti/Ž.png"><br><button onclick="myFunction('ž')">🔊</button>
                  <h3>Žirafe</h3>
                  <audio id="aSound" src="static/Sounds/a.mp3"></audio>
                  </span>
               </a>
            </div>
        </div>

    </body>
    <script src="static/js/script.js"></script>
</html>